/* Fundament*/

@font-face {
    font-family: 'MyWebFont';
    src: url('slkscre-webfont.eot');
    src: url('slkscre-webfont.eot?#iefix') format('embedded-opentype'),
         url('slkscre-webfont.woff2') format('woff2'),
         url('slkscre-webfont.woff') format('woff'),
         url('slkscre-webfont.ttf') format('truetype'),
         url('slkscre-webfont.svg#silkscreen_expandednormal') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {
  margin: 0;
  font-family: 'MyWebFont', Fallback, sans-serif;
}



ul.sidenav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  flex-direction: column;
}

ul.sidenav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: #4CAF50;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  display: block;
  margin-left: 25%;
  padding: 1px 16px;
    font-family: 'MyWebFont', Fallback, sans-serif;

}

@media screen and (max-width: 900px) {
  ul.sidenav {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex: auto;

  }

  ul.sidenav li {
    flex-wrap: row;
    width: 100%;

  }

  ul.sidenav li a {

    padding: 15px;


  }

  div.content {
    margin-left: auto;
    margin-right: auto;
      }

  div.content {
    display: block;
    margin-left: 25%;
    padding: 50px 16px;


  }
}

@media screen and (max-width: 500px) {
  ul.sidenav {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    flex: auto;

  }

  div.content {
    display: block;
    padding: 260px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;


  }
}

button {
    font-family : inherit;
    font-size: 1em;
}

input {
    font-family : inherit;
    font-size: 1em;
}


footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: brown;
  color: white;
  text-align: center;
}


/* Special*/


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}